.animation-window {
  width: 95%;
  height: 100%;
  margin: 25px auto 10px 10px;
  background: rgb(236, 212, 204);
}

.bugs {
  width: 80px;
  height: 100px;
  background: url('bugs.png');
  background-size: cover;
}