.gradient {
  background: linear-gradient(darken(#3F3E2A, 5%), lighten(#3F3E2A, 10%));
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
}

.CodeMirror {
  width: 95%;
  height: 520px;
  border-radius: 8px;
  margin: 35px auto 20px;
  font-size: 1.1rem;
}

.CodeMirror-scroll {
  padding: 0;
}

.CodeMirror-line {
  cursor: default;
}

.home-button {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 55px;
  z-index: 20;
  top: -13px;
  left: -13px;
  transition: .4s ease;
  opacity: .9;
  cursor: pointer;

  &:hover {
    width: 80px;
    height: 80px;
    transition: .4s ease;
    opacity: 1;
  }

  &:hover i {
    margin-bottom: 1px;
    color: black;
    transition: .6s ease;
  }
}

.demo-page {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 600px;

  .button-div {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .direction-button {
    font-family: 'Open Sans';
    cursor: pointer;
    width: 250px;
    margin: auto 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.5rem;
    border: 3px solid rgb(156, 57, 23);
    border-radius: 5px;
    background: linear-gradient(lighten(rgb(206, 62, 26), 10%), darken(rgb(206, 62, 26), 8%));
    color: rgb(236, 212, 204);
    box-shadow: 1px 1px 2px 1px #2a1b1062,
                0px 0px 10px rgba(206, 62, 26, 0.5),
                inset 0 0 3px rgba(26, 17, 17, 0.918);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    transition: .3s;
    outline: none;
    padding-bottom: 3px;

    .fa-long-arrow-alt-left {
      margin-right: 18px;
    }

    .fa-long-arrow-alt-right {
      margin-left: 18px;
    }

    &:hover {
      border: 3px solid lighten(rgb(156, 57, 23), 3%);
      box-shadow: 1px 1px 2px 1px #2a1b1062,
                  0px 0px 8px rgba(206, 62, 26, 0.6),
                  inset 0 0 3px rgba(26, 17, 17, 0.609);
      transition: .4s;
      transform: scale(1.03);
    }
  }

  .disabled-button {
    cursor: default;
    background: linear-gradient(darken(rgb(206, 62, 26), 10%), darken(rgb(206, 62, 26), 15%));
    color: darken(rgb(236, 212, 204), 15%);

    &:hover {    
      border: 3px solid rgb(156, 57, 23);
      box-shadow: 1px 1px 2px 1px #2a1b1062,
                0px 0px 10px rgba(206, 62, 26, 0.5),
                inset 0 0 3px rgba(26, 17, 17, 0.918);
      transform: scale(1);
    }
  }
}

.fa-home {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  transition: .4s ease;
}

@mixin highlighter($height, $top) {
  position: absolute;
  width: 480px;
  height: $height;
  top: $top;
  left: calc(1% + 35px);
  background: linear-gradient(to right, rgba(93, 148, 219, 0.356) 90%, #202020);
  z-index: 5;
}

.highlighter0 {
  @include highlighter(22px, 39px)
}

.highlighter1 {
  @include highlighter(22px, 60px)
}

.highlighter2,
.highlighter6,
.highlighter10 {
  @include highlighter(22px, 119px)
}

.highlighter3,
.highlighter7 {
  @include highlighter(62px, 200px)
}

.highlighter4,
.highlighter8 {
  @include highlighter(62px, 280px)
}

.highlighter5,
.highlighter9,
.highlighter12,
.highlighter13 {
  @include highlighter(22px, 340px)
}

.highlighter11 {
  @include highlighter(22px, 140px)
}

.modal {
  position: absolute;
  top: 18px;
  right: 0;
  width: 420px;
  height: 50px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: linear-gradient(lighten(rgb(206, 62, 26), 10%), darken(rgb(206, 62, 26), 8%));
  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.4);
  z-index: 9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: ease .8s;
}

.fa-chevron-circle-right {
  margin-left: 10px;
  font-size: 2rem;
  color: white;
  opacity: .9;
  cursor: pointer;
  transition: .4s;

  &:hover {
    opacity: 1;
    transition: .4s;
  }
}

.modal-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  width: 365px;
  height: 450px;
  border-bottom-left-radius: 30px;
  background: white;
  opacity: .98;
  box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: 8;
  transition: ease .8s;
}

.hide-modal {
  right: -370px;
  transition: ease .8s;

  .fa-chevron-circle-right {
    transform: rotate(180deg);
    transition: ease .8s;
  }

  & ~ .modal-dropdown {
    right: -370px;
    transition: ease .8s;
  }
}