@mixin animations($ani1, $ani2) {
  animation: $ani1 2s ease;
  animation-fill-mode: forwards;

  &::before {
    animation: $ani2 2s ease;
    animation-fill-mode: forwards;
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

.practice-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90% 10%;
  margin: 0 10px;
}

.direction-button {
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);

  .fa-long-arrow-alt-left {
    margin-right: 18px;
  }

  .fa-long-arrow-alt-right {
    margin-left: 18px;
  }

}

.solution-editor {
  position: relative;
  cursor: pointer;
  
  &::before {
    position: absolute;
    content: 'Click to reveal answer';
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 2rem;
    color: rgba(210, 210, 210, 0.9);
    top: 35px;
    left: 14px;
    right: 14px;
    bottom: 7px;
    background: #202020;
    border-radius: 5px;
    z-index: 10;
  }
}

.solution-editor::before .solution-editor {
  scroll-behavior: smooth;
}

.reveal-answer {
  @include animations(reveal, reveal2);
}

.hide-answer {
  @include animations(revealback, reveal2two);
}

@keyframes reveal {
  0% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0);
  }
}

@keyframes revealback {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

@keyframes reveal2 {
  0%, 26% {
    opacity: 1;
  }
  37%, 100% {
    opacity: 0;
  }
}

@keyframes reveal2two {
  0%, 28% {
    opacity: 0;
  }
  34%, 100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {

  .practice-page {
    grid-template-columns: 1fr;
    grid-template-rows: 270px 310px 1fr;

    .CodeMirror {
      height: 260px;
    }

    .solution-editor::before {
      top: 35px;
      left: 2.5%;
      right: 2.5%;
      bottom: 15px;
    }

    .reveal-answer {
      cursor: default;
    }

    .previous-button {
      position: relative;
      right: 22%;
    }  

    .next-button {
      position: relative;
      left: 22%;
      margin-top: -50px;
    }

  }

  @keyframes reveal2 {
    0%, 26% {
      opacity: 1;
      z-index: 10;
    }
    37%, 100% {
      opacity: 0;
      z-index: 0;
    }
  }

  @keyframes reveal2two {
    0%, 28% {
      opacity: 0;
      z-index: 0;
    }
    34%, 100% {
      opacity: 1;
      z-index: 10;
    }
  }
}